
.heading{
  font-family: $font-family-primary;
  font-weight: 900;
  text-transform: uppercase;
}
.hero-header{
  font-family: $font-family-secondary;
  font-weight: 300;
}
.heading-xl{
font-size: 6rem;
font-weight: 900;
line-height: 88px;
}


.heading-md{
font-size: 4.4rem;
line-height: 4rem;
}

.heading-sm{
font-size: 2rem;
line-height: 2rem;
}

p{
  font-family: $font-family-secondary;
  font-weight: 200;
}

button{
  font-family: $font-family-primary;
}

